.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-link{
    margin: auto;
}
.bg-light {
    background-color: #545b5d
}
.footer{
    display: block;
    background-color: #535b5d;
    margin-top:120px;
    color: white;
    text-align: center;
  }
  